@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<label>Message: </label>
<div id="messagesList"></div>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

    connection.on("ReceiveMessage", function (message) {

        alert(message);
    });

    connection.start().catch(function (err) {
        return console.error(err.toString());
    });
</script>