



<h1>Calculator</h1>


<div class="form-control">
    <lable id="dog" class="timeLable">this is a label</lable>
</div>

<input class="textbox" type="text" />

<script>

    $(document).ready(function () {
        $(".timeLable").html("chnaged");
    });



</script>