@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<input class="form-control" id="calculatorTotal" type="text" placeholder="1500" disabled="">

<a asp-action="HelloSignalR">Generate a random number with SignalR</a>

<script>

    $(document).ready(function () {

        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

        connection.on("ReceiveMessage", function (user, message) {
            document.getElementById("calculatorTotal").value = user + message;
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

    });

</script>

